<div class="container">
    <h1>Challenges</h1>

    <ul>
        <% @challenges.each do |challenge| %>
            <li>
                <h2><%= link_to challenge.name, challenge_path(challenge) %></h2>
                <p><%= challenge.description %></p>
            </li>
        <% end %>
        <% if params[:query].present? && @challenges.empty? %>
            <div class="alert alert-info">
                No challenges found matching "<%= params[:query] %>"
            </div>
        <% end %>
    </ul>
</div>