<div class="container">
    <h1>Challenges</h1>

    <ul>
        <% @challenges.each do |challenge| %>
            <li>
                <h2><%= link_to challenge.name, challenge_path(challenge) %></h2>
                <p><%= challenge.description %></p>
            </li>
        <% end %>
    </ul>
</div>