<% flash.each do |key, msg| %>
  <% next if msg.blank? %>
  <% css_class = case key.to_s %>
    <% when 'alert', 'error' then 'alert-danger' %>
    <% when 'notice', 'success' then 'alert-success' %>
    <% else 'alert-info' %>
  <% end %>

  <div class="alert <%= css_class %> my-3" role="alert" aria-live="assertive">
    <%= msg %>
  </div>
<% end %>